@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	/* justify-self: center; */
}
body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
	min-width: 290px;
	max-width: 1660px;
}
p:not(.top p){
    font-size: 15px;
    margin-top: 4px;
    margin-bottom: 35px;
    opacity: 0.4;
}
h3 {
    font-size: 24px;
}

.top{
    text-align: center;
    margin: 20px;
}
.top h2:first-child{
    font-weight: 400;
    font-size: 24px;
}
.top h2:not(h2:first-child) {
    font-weight: 900;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-inline: 40px;
    gap: 40px;
	
}
/* 4 adet kutu - birleşik */
.box {
    box-shadow: 0 12px 10px 0.5px hsla(229, 6%, 66%, 0.4);
    padding: 20px;
    border-radius: 5px;
	width: 100%;

}
.image {
    text-align: right;
	align-items: flex-end;
}

/* 4 adet kutu - ayrıca */
.team {
    border-top:5px solid hsl(0, 78%, 62%);
    margin-bottom: 40px;
}
.karma {
    border-top: 5px solid hsl(34, 97%, 64%);
}
.Supervisor {
    border-top: 5px solid hsl(180, 62%, 55%);
}
.Calculator {
    border-top: 5px solid hsl(212, 86%, 64%);
}

@media (min-width:800px) {
    .container{
        flex-direction: row;
        justify-content: center;
        align-items: center;
		width: 100%;
    }
}

.sutun{
	width: 100%;
}
